{% extends 'scores/base.html' %}

{%load static%}
{% block content %}

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom" style="background: linear-gradient(#000000 1%, black 35%, rgb(0,0,0) 86%), var(--bs-red);border-color: var(--bs-black);">
        <div class="container"><a class="navbar-brand" href="#"><img class="rounded img-fluid" src="{% static 'scores/assets/img/Capture_d_écran_2023-04-14_165538-removebg-preview.png' %}" width="144" height="31"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <p class="navbar-text" style="margin-right: 20px;">Pétanquement Votre, {{ user.username }}</p>
                        <li class="nav-item"style="margin-top: 4px;"><a class="nav-link" href="{% url 'logout' %}?next={% url 'scores:index' %}">Déconnexion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Se Connecter</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center masthead">
        <div class="masthead-content" style="--bs-primary: #ff0000;--bs-primary-rgb: 255,0,0;--bs-secondary: #450202;--bs-secondary-rgb: 69,2,2;--bs-success: #000000;--bs-success-rgb: 0,0,0;--bs-body-bg: var(--bs-red);">
            <div class="container">
                <h2 class="masthead-subheading mb-0" style="text-align: left;margin: -1px;margin-bottom: 0px;"><span style="color: rgb(0, 0, 0);">{{tournament.name}}</span></h2>
                <p style="text-align: left;font-size: 30px;font-weight: bold;font-family: Catamaran, sans-serif;color: rgb(0,0,0);margin-left: 6px;">Dates : <span style="font-weight: normal !important;">Du {{tournament.start_date}} Au {{tournament.end_date}}</span><br>Lieu : <span style="font-weight: normal !important;">{{tournament.location}}</span></p>
                <div class="table-responsive" style="font-size: 28px;color: #cbcbcb;margin-top: 27px;padding: 0px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="background: #f74902;font-size: 33px;font-family: Catamaran, sans-serif;color: rgb(0,0,0);">Poules</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pool in tournament.pool_set.all %}
                                <tr>
                                    <td style="background: var(--bs-black);color: #e1dada;font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;"><a href="{% url 'scores:match' pool.id %}">{{pool.name}}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="#" style="--bs-primary: #ff0000;--bs-primary-rgb: 255,0,0;background: #d81e05;" value="Previous Page" onClick="javascript:history.go(-1);">Retour</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle" style="--bs-primary: #920000;--bs-primary-rgb: 146,0,0;--bs-body-bg: var(--bs-btn-disabled-color);"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
{% endblock %}
