{% extends 'scores/base.html' %}

{%load static%}
{% block content %}

<body>
    <section style="margin-top: 50px;margin-bottom: -20px;background: linear-gradient(var(--bs-orange), #de0144);">
        <div class="container" style="text-align: center;">
            <form method="POST"><span> {% csrf_token %} </span>
                <div class="form-group">
                    <h2 class="display-6 fw-bold mb-5" style="text-align: center;margin-top: 40px;"><span class="shake animated underline pb-1" style="text-align: center;"><br><br>Tu peux modifier ton commentaire içi !<br><br><br></span></h2>
                    <div class="col-12 col-lg-10 mx-auto">
                        <div class="text-center position-relative" style="margin-bottom: 50px;"></div>
                    </div><textarea name="contenu" style="width: 700px;height: 86.5938px;margin-right: 27px;margin-bottom: 31px;border-radius: 7px;">{{ comment.contenu }}</textarea><button class="btn btn-primary" style="margin-top: -140px;color: var(--bs-gray-100);background: rgb(235,89,7);border-radius: 14px;" type="submit">Enregistrer</button>
                    <p> <br><br><br><br><br><br><br><br><br> </p>
                </div>
            </form>
         </div>
    </section>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom" style="background: linear-gradient(#000000 1%, black 35%, rgb(0,0,0) 86%), var(--bs-red);border-color: var(--bs-black);">
        <div class="container"><a class="navbar-brand" href="#"><img class="rounded img-fluid" src="{% static 'scores/assets/img/Capture_d_écran_2023-04-14_165538-removebg-preview.png'%}" width="144" height="31"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive"></div>
        </div>
    </nav>
    {% endblock %}