{% extends 'scores/base.html' %}

{%load static%}
{% block content %}

<body style="background: #f9362a;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom" style="background: linear-gradient(#000000 1%, black 35%, rgb(0,0,0) 86%), var(--bs-red);border-color: var(--bs-black);">
        <div class="container"><a class="navbar-brand" href="#"><img class="rounded img-fluid" src="{% static 'scores/assets/img/Capture_d_écran_2023-04-14_165538-removebg-preview.png' %}" width="144" height="31"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                                      
                  <li class="nav-item" style="margin-right: 50px"><a class="nav-link active" href="{% url 'scores:index' %}">Accueil</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'scores:pool' match.pool.tournament.id%}">Poules</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'scores:match' match.tournament.id%}">Matchs</a></li>
                  <li class="nav-item" style="margin-right: 100px"><a class="nav-link active" href="">Résultat</a></li>

                    {% if user.is_authenticated %}
                        <p class="navbar-text" style="margin-top: -4px">Pétanquement Votre, {{ user.username }}</p>
                        <li class="nav-item"style="margin-top: 0px;"><a class="nav-link" href="{% url 'logout' %}?next={% url 'scores:index' %}">Déconnexion</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Se Connecter</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center masthead">
        <div class="masthead-content" style="--bs-primary: #ff0000;--bs-primary-rgb: 255,0,0;--bs-secondary: #450202;--bs-secondary-rgb: 69,2,2;--bs-success: #000000;--bs-success-rgb: 0,0,0;--bs-body-bg: var(--bs-red);">
            <div class="container">
                <h2 class="masthead-subheading mb-0" style="text-align: left;margin: -1px;margin-bottom: 16px;font-size: 40px;margin-top: -13px;"><span style="color: rgb(0, 0, 0);">{{match.pool.tournament.name}}, Poule {{match.pool.name}}&nbsp;</span></h2>
                <p style="text-align: left;font-size: 30px;font-family: Catamaran, sans-serif;color: rgb(0,0,0);margin-left: 6px;margin-top: 9px;"><strong>Lieu :&nbsp;</strong><span style="font-weight: normal !important;">{{match.pool.tournament.location}}</span><br><strong>Date :&nbsp;</strong><span style="font-weight: normal !important;">{{match.date_time}}</span><br><strong>Résultat :&nbsp;</strong><span style="font-weight: normal !important;">{{match.home_score}}/{{match.away_score}}</span><br>&nbsp;<br>Ce soir c'est ... MATCH !!!<br>{{match.home_team}} affronte {{match.away_team}}&nbsp;<br><br></p>
                <div class="table-responsive" style="font-size: 28px;color: #cbcbcb;margin-top: 27px;padding: 0px;">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="background: #f74902;font-size: 33px;font-family: Catamaran, sans-serif;color: rgb(0,0,0);">{{match.home_team.name}}</th>
                                <th style="font-size: 33px;background: #f74902;color: rgb(0,0,0);">{{match.away_team.name}}</th>
                            </tr>
                        </thead>
                
                        <tbody>
                            <tr>
                                <td style="background: var(--bs-black);color: #e1dada;font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;">Joueurs : {{match.home_team.members}}</td>
                                <td style="background: var(--bs-black);font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;color: #e1dada;">Joueurs : {{match.away_team.members}}</td>
                            </tr>
                            <tr>
                                <td style="background: var(--bs-black);color: #e1dada;font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;">Entraîneur : {{match.home_team.coach_name}}</td>
                                <td style="background: var(--bs-black);font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;color: #e1dada;">Entraîneur : {{match.away_team.coach_name}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="#" style="--bs-primary: #ff0000;--bs-primary-rgb: 255,0,0;background: #d81e05;" value="Previous Page" onClick="javascript:history.go(-1);">Retour</a>
                <p style="font-family: Catamaran, sans-serif;font-size: 27px;margin-top: 45px;color: var(--bs-black);">Carreau Sec ? Commentes le Match avec les collègues !</p>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle" style="--bs-primary: #920000;--bs-primary-rgb: 146,0,0;--bs-body-bg: var(--bs-btn-disabled-color);"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section style="margin-top: -87px;margin-bottom: -20px;background: linear-gradient(#f9362a 0%, #fe6801 80%);">
        <div class="container" style="text-align: center;">
          {% if user.is_authenticated %}
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <h1 style="height: 50.25px;font-size: 26.88px;">Commentez le match !</h1>
                <textarea name="contenu" style="width: 700px;height: 86.5938px;margin-right: 27px;margin-bottom: 31px;border-radius: 9px;margin-top: 40px;" placeholder="Oh Belle... Tu  veux commenter le match un peu ?"></textarea>
                <button class="btn btn-primary" style="margin-top: -140px;" type="submit">Publier</button>
              </div>
            </form>
          {% else %}
            <div class="text-white bg-primary border-0 border-primary d-flex flex-column justify-content-between flex-lg-row border rounded p-4 p-md-5" style="--bs-primary: #f9362a;--bs-primary-rgb: 200,200,200;--bs-body-bg: var(--bs-danger);color: var(--bs-danger);background: var(--bs-danger);margin: 60px;height: 84px; margin-top: 100px">
              <h1 style="font-size: 21.88px;color: var(--bs-black);margin-bottom: 0px;padding: 0px;margin-top: -8px;">Pas Content ? Connectes toi pour commenter !</h1>
              <div class="pb-2 pb-lg-1"></div>
              <div class="my-2"><a class="btn btn-light fs-5 py-2 px-4" role="button" href="{% url 'login' %}?next={% url 'scores:index' %}" style="margin-right: -14px;margin-top: -37px;background: var(--bs-orange);border-radius: 18px;">Connexion</a></div>
            </div>
          {% endif %}
          {% for comment in comments %}
            <div class="col" style="width: 800px;margin: auto;"> 
              <h1 style="text-align: left;color: var(--bs-black);font-weight: bold;font-size: 14px;">{{comment.auteur}}<span style="margin-left: 12px;color: #d20101;font-size: 14px;text-align: center;">{{comment.date}}
                {% if user == comment.auteur %}
                  <a href="{% url 'scores:edit_comment' comment.id %}" style="margin-left: 11px;font-size: 14px;color: #ffc700;">modifier</a> 
                {% endif %}
              </span></h1>
              <p style="text-align: left;">{{comment.contenu}}</p>
              <hr>
            </div>
          {% endfor %}
        </div>
    </section>
{% endblock %}