<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>winalot 1</title>
    <meta name="description" content="Scores Website">
    <link rel="stylesheet" href="{% static 'scores/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'scores/assets/css/Login-Form-Basic-icons.css'%}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom" style="background: linear-gradient(#000000 1%, black 35%, rgb(0,0,0) 86%), var(--bs-red);border-color: var(--bs-black);">
        <div class="container"><a class="navbar-brand" href="#"><img class="rounded img-fluid" src="{% static 'scores/assets/img/Capture_d_écran_2023-04-14_165538-removebg-preview.png'%}" width="144" height="31"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive"></div>
        </div>
    </nav>
    <header class="text-center masthead">
        <div class="masthead-content" style="--bs-primary: #ff0000;--bs-primary-rgb: 255,0,0;--bs-secondary: #450202;--bs-secondary-rgb: 69,2,2;--bs-success: #000000;--bs-success-rgb: 0,0,0;--bs-body-bg: var(--bs-red);">
            <div class="container">
                <h2 class="masthead-subheading mb-0" style="text-align: left;margin: -1px;margin-bottom: 0px;"><span style="color: rgb(0, 0, 0);">Poule {{pool.tournament.name}}</span></h2>
                <p style="text-align: left;font-size: 30px;font-weight: bold;font-family: Catamaran, sans-serif;color: rgb(0,0,0);margin-left: 6px;">{{pool.name}}<br>Dates : <span style="font-weight: normal !important;">Du {{pool.tournament.start_date}} Au {{pool.tournament.end_date}}</span><br>Lieu : <span style="font-weight: normal !important;">{{pool.tournament.location}}</span></p>
                <div class="table-responsive" style="font-size: 28px;color: #cbcbcb;margin-top: 27px;padding: 0px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="background: #f74902;font-size: 33px;font-family: Catamaran, sans-serif;color: rgb(0,0,0);">Equipe</th>
                                <th style="font-size: 33px;background: #f74902;color: rgb(0,0,0);">Date</th>
                                <th style="font-size: 33px;background: #f74902;color: rgb(0,0,0);">Heure</th>
                                <th style="font-size: 33px;background: #f74902;color: rgb(0,0,0);">Score</th>
                                <th style="font-size: 33px;background: #f74902;color: rgb(0,0,0);">Poule</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background: var(--bs-black);color: #e1dada;font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;">Equipe 1 / Equipe 2</td>
                                <td style="background: var(--bs-black);font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;color: #e1dada;">Date 1</td>
                                <td style="background: var(--bs-black);font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;color: #e1dada;">Heure 1</td>
                                <td style="background: var(--bs-black);font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;color: #e1dada;">Score 1</td>
                                <td style="background: var(--bs-black);font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;color: #e1dada;">Poule 1</td>
                            </tr>
                            <tr>
                                <td style="background: var(--bs-black);color: #e1dada;font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;">Equipe 2/ Equipe 3</td>
                                <td style="background: var(--bs-black);font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;color: #e1dada;">Date 2</td>
                                <td style="background: var(--bs-black);font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;color: #e1dada;">Heure 2</td>
                                <td style="background: var(--bs-black);font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;color: #e1dada;">Score 2</td>
                                <td style="background: var(--bs-black);font-size: 28px;font-family: Catamaran, sans-serif;border-width: 5px;border-color: #f74902;color: #e1dada;">Poule 2</td>
                            </tr>
                        </tbody>
                    </table>
                </div><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="#" style="--bs-primary: #ff0000;--bs-primary-rgb: 255,0,0;background: #d81e05;">Retour</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle" style="--bs-primary: #920000;--bs-primary-rgb: 146,0,0;--bs-body-bg: var(--bs-btn-disabled-color);"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© WINALOT 2023</p>
        </div>
    </footer><a href="#">Log In</a>
    <script src="{% static 'scores/assets/bootstrap/js/bootstrap.min.js'%}"></script>
</body>

</html>